@import '../../Style/style.scss';
.navbar{
    @include flexSpace;
    background-color: white;
    .nav-brand{
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            label{
                color: $primary;
                font-size: 22px;
            }
        }
    }
    ul{
        display: flex;
        list-style: none;
        padding: 10px 50px;
        gap: 20px;
        
        li{
            a{
                text-decoration: none;
                color: $primary;
                font-size: 18px;
            }
        }
    }
    .toogle{
        display: none;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 20px;
            color: $primary;
            .button{
                border: 1px solid $primary;
                padding: 2px 4px;
                border-radius: 5px;
            }
        }
    }
}
.navbar-toogle{
    position:  absolute;
    z-index: 999;
    width: 100%;
    display: none;
    
    ul{
        margin:5px 10px;
        padding: 10px 0;
        background-color: blue;
        @include flexCol();
        li{
            width: 100%;
            list-style: none;
            cursor: pointer;
            @include flexCenter();
            height: 50px;
            a{
                text-decoration: none;
                font-weight: bold;
                color: white;
                &:hover{
                    color:$primary;
                }
            }
            &:hover{
               
                background-color: white;
            }
            
        }
    }
    
}

@media (max-width:667px){
    .navbar{
        @include flexSpace;
        background-color: white;
        margin: 0;
        ul{
           display: none;
           margin: 0;
        }
        .toogle{
            display: block;
            margin: 0;
            padding: 10px 10px;
        }
    }
    .navbar-toogle{
        display: block;
    }
        
}

@media (max-width:456px){
    .navbar{
        @include flexSpace;
        background-color: white;
        margin: 0;
        ul{
           display: none;
           margin: 0;
           padding: 0;
        }
        .toogle{
            display: block;
            margin: 0;
            padding: 10px;
        }
    }
    .navbar-toogle{
        display: block;
    }
        
}